body {
  margin: 0;
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #1B2735;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: white;
}

.title {
  text-align: center;
}

.container {
  display: block;
  float: left;
  position: relative;
  left: 5%;
  width: 28%;
  padding: 10px 10px 10px 10px;
}

.card {
  display: flexbox;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #1B2735;
}
